* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(190, 158, 241);
    color: black;
}

header {

    background-color: rgb(96, 45, 129);
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    width: 100%;
}

nav div ul {
    display: flex;

}

nav div ul li {
    margin: 0px 15px;
    list-style: none;
}

nav div ul li a {
    text-decoration: none;
    color: whitesmoke;
    font-size: 17px;
}

nav ul li a:hover {
    color: blue;
    font-size: 1rem;
}

.left {
    font-size: 45px;
}

.firstsection {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.firstsection div {
    width: 35%;
    margin: 11px 49px;
}

.leftsection {
    font-size: 3em;
}
.rightsection img {
    width: 70vh;
    height: 90vh;
}

.a {
    color: rgb(243, 115, 29);
}

main hr {
    margin: 39px 52px;
    background-color: rgb(255, 0, 0);
}

.secondsection {
    height: 83vh;
}

.bb {
    margin: 66px 58px;
    font-size: 2.5em;
}

div hr {
    width: 68vw;
    margin: 92px 53px;
}

.h {
    height: 2px;
}

.secondsection .vertical {
    height: 89px;
    width: 1px;
    background-color: blue;
    margin: -93px 124px;
}

.ab {
    display: flex;
}

.image {
    height: 59px;
    width: 65px;
    position: relative;
    top: -60px;
    left: -19px;
}

.details {
    margin: 24px -22px;
}

.thirdsection {
    height: 139vh;
}

.thirdsection .h {
    margin: -20px 43px
}

.thirdsection li {
    margin: 14px 97px;
    font-size: 20px;
}

.one {
    margin: 2px 48px;
    height: 1px;
    width: 38rem;
}
footer {
    background-color: rgb(33, 62, 87);
    font-size: 20px;
}

footer .footer {
    display: flex;
    justify-content: space-around;
}

footer li {
    list-style: none;
    margin: 9px -20px;
}

footer div {
    padding: 11px 28px;
}

footer .last {
    text-align: center;
}

.button {
    margin: -9px 103px;
}

.btn {
    margin: 0px 23px;
    background: rgb(255, 115, 0);
    color: rgb(245, 245, 250);
    border: 2px solid black;
    font-size: 20px;
    cursor: pointer;
    padding: 2px;
    text-decoration: none;
}
.secondfooter a{
    color: black;
}
.thirdfooter a{
    color: black;
}
.forthfooter a{
    color: black;
}